<form #form="ngForm" (ngSubmit)="submit()">
  <div class="mb-3">
    <label class="form-label" for="fullname">full name:</label>
    <input
      (ngModelChange)="loggingSomeInfo()"
      class="form-control"
      type="text"
      id="fullname"
      placeholder="full name 12 character minimum"
      name="fullname"
      [(ngModel)]="fullname"
      required
      minlength="12"
    />
  </div>
  <div class="mb-3">
    <label for="address">address:</label>
    <input
      (ngModelChange)="loggingSomeInfo()"
      class="form-control"
      type="text"
      placeholder="address 12 character minimum"
      name="address"
      [(ngModel)]="address"
      required
      minlength="12"
    />
  </div>
  <div class="mb-3">
    <label for="creditcard">creditcard:</label>
    <input
      (ngModelChange)="loggingSomeInfo()"
      class="form-control"
      type="text"
      placeholder="creditcard 16 character"
      name="creditcard"
      [(ngModel)]="creditcard"
      required
      minlength="16"
    />
  </div>
  <input
    class="btn btn-primary"
    type="submit"
    value="Submit"
    [disabled]="form.invalid"
  />
  <div *ngIf="form.invalid && form.dirty" style="color: red">
    <p>fullname 12 character minimum</p>
    <p>address 12 character minimum</p>
    <p>creditcard 16 character minimum</p>
  </div>
</form>
