<div class="product-container">
  <a routerLink="/products/{{ product.id }}">
    <img [src]="product.url" alt="product image" class="product-image" />
  </a>
  <p>{{ product.name }}</p>
  <p>{{ product.price | currency }}</p>
  <form (ngSubmit)="submit()">
    <input
      [disabled]="isCart"
      class="select-input"
      type="number"
      [value]="1"
      [(ngModel)]="amount"
      name="amount"
    />
    <br />
    <input
      *ngIf="!isCart"
      type="submit"
      class="select-input btn btn-primary"
      value="Add to Cart"
    />
  </form>
</div>
